
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&display=swap');

:root {
    --font: 'Poppins', sans-serif;
}

*{
    font-family: var(--font);
}

body{
    background-color: lightblue;
}

#cabechalho{
    display: flex;
    align-items: center;
}

#contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 240px;
    right: 10px;
    padding: 5px;
}

.logo-contatos {
    width: 120px;
    margin-right: 10px;
}

#logo1 {
    border: 1px solid black;
}

#logo2 {
    border: 1px solid black;
}

.link-logo{
    text-decoration: none;
    color: black;
    text-align: center;
}

.logo-img {
    width: 20px;
    height: 20px;
}

h2 {
    text-align: center;
}
